# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [31]:
import pandas as pd
import numpy as np

In [32]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [33]:
black_friday.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [59]:
black_friday[(black_friday.Age == '26-35') & (black_friday.Gender == 'F')].shape[0]

49348

In [71]:
black_friday['User_ID'].nunique()

5891

In [72]:
black_friday.dtypes.nunique()

3

In [77]:
black_friday.dropna().shape[0]

164278

In [81]:
black_friday.isna().sum().max()

373299

In [91]:
black_friday['Product_Category_3'].dropna().mode()[0]

16.0

In [108]:
#df_norm1 = (df - df.mean()) / (df.max() - df.min())
#Qual a nova média da variável (coluna) Purchase após sua normalização? Responda como um único escalar.

normalizacao = (2*((black_friday['Purchase']) - black_friday['Purchase'].min())/((black_friday['Purchase'].max()) - (black_friday['Purchase'].min()))) -1
normalizacao.mean()

-0.2304121927460438

In [113]:
#Quantas ocorrências entre -1 e 1 inclusive existem da variáel Purchase após sua padronização? Responda como um único escalar.
normalizacao.value_counts().shape[0]

17959

In [120]:
categ = black_friday[black_friday['Product_Category_2'].isna()]
categ['Product_Category_3'].isna().all().item()

True

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [57]:
def q1():
    # Retorne aqui o resultado da questão 1.
       black_friday.shape
return

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [58]:
def q2():
    # Retorne aqui o resultado da questão 2.
    black_friday[(black_friday.Age == '26-35') & (black_friday.Gender == 'F')].shape[0]
    return

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [ ]:
def q3():
    # Retorne aqui o resultado da questão 3.
    black_friday['User_ID'].nunique()
    return

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [ ]:
def q4():
    # Retorne aqui o resultado da questão 4.
    black_friday.dtypes.nunique()
    return

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [ ]:
def q5():
    # Retorne aqui o resultado da questão 5.
    (black_friday.shape[0] - black_friday.dropna().shape[0])/(black_friday.shape[0])
    return

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [82]:
def q6():
    # Retorne aqui o resultado da questão 6.
    black_friday.isna().sum().max()
    return

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [ ]:
def q7():
    # Retorne aqui o resultado da questão 7.
    black_friday['Product_Category_3'].dropna().mode()[0]
    return

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [ ]:
def q8():
    # Retorne aqui o resultado da questão 8.
    normalizacao = (2*((black_friday['Purchase']) - black_friday['Purchase'].min())/((black_friday['Purchase'].max()) - (black_friday['Purchase'].min()))) -1
    normalizacao.mean()
    return

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [ ]:
def q9():
    # Retorne aqui o resultado da questão 9.
    normalizacao.value_counts().shape[0]
    return

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [ ]:
def q10():
    # Retorne aqui o resultado da questão 10.
    categ = black_friday[black_friday['Product_Category_2'].isna()]
    categ['Product_Category_3'].isna().all().item()
    return